<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/post/writePost" method="post" enctype="multipart/form-data" >
        <textarea class="postContent" style="resize: none;" type="text" placeholder="write Here" name="post"></textarea>
 <input type="file" placeholder="Upload Picture" name="image">

      
        <button type="submit">Publish</button>
    </form>
</body>
</html>